<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.example.demo.member.mapper.MemberMapper">
 
<insert id="insertMembers" parameterType="com.example.demo.member.domain.MemberVO">
  insert into member (email,password,name,gender,age,manner)
  values (#{email},#{password},#{name},#{gender},#{age},#{manner})
</insert>

<select id="checkMembers" resultType="String">
select email from member where email=#{email}
</select>

<select id="loginCheck" resultType="String">
select email from member where email=#{email} and password=#{password}
</select>

<select id = "viewMember" resultType="com.example.demo.member.domain.MemberVO">
select * from member where email = #{email} and password=#{password}
</select>

<insert id="insertBoards" parameterType="com.example.demo.board.domain.BoardVO">
insert into board (bno,subject,content,writer,reg_date,category,point_x,point_y,number,location)
values (default, #{subject},#{content},#{writer},default,#{category, jdbcType=VARCHAR},#{point_x, jdbcType=DOUBLE},#{point_y, jdbcType=DOUBLE},#{number},#{location})
</insert>

<select id="boardCount" resultType="int">
select count(*) from board;
</select>

<select id="boardList" resultType="com.example.demo.board.domain.BoardVO" parameterType="String">
select * from board
<if test='_parameter!="all"'>
where category=#{_parameter}
</if>
</select>

<select id = "viewBoard" resultType="com.example.demo.board.domain.BoardVO">
select * from board where bno=#{bno}
</select>

<insert id="insertComments" parameterType="com.example.demo.board.domain.CommentVO">
insert into comment (cno,writer,writerID,gender,age,comment,boardNo,date)
values (default,#{writer},#{writerID}, #{gender},#{age},#{comment},#{boardNo},default)
</insert>

<select id="commentList" resultType="com.example.demo.board.domain.CommentVO" parameterType="int">
select * from comment where boardNo=#{_parameter}
</select>

<insert id="insertReviews" parameterType="com.example.demo.board.domain.ReviewVO">
insert into review (bno,subject,content,writer,category,reg_date,point_x,point_y,photo)
values (default, #{subject},#{content},#{writer},#{category, jdbcType=VARCHAR},default,#{point_x, jdbcType=DOUBLE},#{point_y, jdbcType=DOUBLE},#{photo})
</insert>

<select id = "viewReview" resultType="com.example.demo.board.domain.ReviewVO">
select * from review where bno=#{bno}
</select>

<select id="reviewList" resultType="com.example.demo.board.domain.ReviewVO" parameterType="String">
select * from review
<if test='_parameter!="all"'>
where category=#{_parameter}
</if>
</select>

</mapper>